html {
    height: 100%;
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007bff1f;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #007bff10;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #005cbefd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;

}

button:hover {
    background-color: #007bff;
}

button:active {
    background-color: #005cbefd;
}

img {
    width: 100%;
    height: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #007bff;
}

footer {
    margin-top: auto;
    background-color: #007bff10;
    padding: 4px;
    color: #000000;
  
}